/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
   * Remove default margin.
   */
body {
  margin: 0;
}

/* HTML5 display definitions
     ========================================================================== */
/**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
   */
[hidden],
template {
  display: none;
}

/* Links
     ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
     ========================================================================== */
/**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
b,
strong {
  font-weight: bold;
}

/**
   * Address styling not present in Safari and Chrome.
   */
dfn {
  font-style: italic;
}

/**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000;
}

/**
   * Address inconsistent and variable font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0;
}

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
     ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1em 40px;
}

/**
   * Address differences between Firefox and other browsers.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
   * Contain overflow in all browsers.
   */
pre {
  overflow: auto;
}

/**
   * Address odd `em`-unit font size rendering in all browsers.
   */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
     ========================================================================== */
/**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
/**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
button {
  overflow: visible;
}

/**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
button,
select {
  text-transform: none;
}

/**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
   * Re-set default cursor for disabled elements.
   */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
   * Remove inner padding and border in Firefox 4+.
   */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
input {
  line-height: normal;
}

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
   *    (include `-moz` to future-proof).
   */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * Define consistent border, margin, and padding.
   */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
textarea {
  overflow: auto;
}

/**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
optgroup {
  font-weight: bold;
}

/* Tables
     ========================================================================== */
/**
   * Remove most spacing between table cells.
   */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* basic */
.pagenation {
  display: inline-block;
  text-align: center;
  font-size: 0;
  margin: 20px 0 30px;
  width: 100%;
}

.pagenation a {
  background: white;
}

.pagenation a,
.pagenation strong {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  color: #555;
  border: 1px solid #e2e2e2;
  width: 32px;
  height: 32px;
  margin: 0 2px;
  border-radius: 50%;
}

.pagenation a.jump, .pagenation a.move,
.pagenation strong.jump,
.pagenation strong.move {
  font-size: 0;
}

.pagenation a.jump i, .pagenation a.move i,
.pagenation strong.jump i,
.pagenation strong.move i {
  font-size: 20px;
  line-height: 30px;
}

.pagenation a.jump,
.pagenation strong.jump {
  width: auto;
  background: #efefef;
  padding: 0 5px;
}

.pagenation a.jump i::before,
.pagenation strong.jump i::before {
  margin: 0;
  padding: 0;
  width: auto;
}

.pagenation .active,
.pagenation strong {
  background: #e00029;
  color: white;
  font-weight: normal;
  border-color: transparent;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
select,
textarea {
  border-radius: 0;
  background-clip: padding-box;
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
}

input::-ms-expand,
select::-ms-expand,
textarea::-ms-expand {
  display: none;
}

a {
  text-decoration: none;
  color: #444;
}

/*font*/
html {
  min-width: 320px;
  max-width: 100%;
  font-size: 14px;
  min-height: 100%;
}

body {
  font-family: "", "Malgun Gothic", "apple sd gothic neo", sans-serif;
  color: #555;
  min-width: 320px;
}

.sr-only {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* style */
body {
  text-align: center;
}

body .btn {
  display: inline-block;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0;
}

body .btn.big {
  width: 100%;
  line-height: 54px;
  font-weight: 800;
  font-size: 18px;
}

body .btn.small {
  width: 100%;
  line-height: 34px;
  font-weight: 800;
  font-size: 12px;
}

body .btn.inline {
  width: auto;
  padding: 0 40px;
  margin: 10px 2px;
}

body .btn.outline {
  background: #f4f4f4;
  color: #333;
  border: 1px solid #dedede;
}

body .btn.main {
  background: #e00029;
  color: #fff;
}

body .btn.second {
  background: #ff7d26;
  color: #fff;
}

body .btn.third {
  background: #00bcd4;
  color: #fff;
}

body div.btn-set {
  margin: 20px 0;
}

body div.btn-set.center {
  text-align: center;
}

body article.fixed-btn {
  position: fixed;
  z-index: 700;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0;
}

body article.fixed-btn .btn {
  border-radius: 0;
  margin: 0;
}

body article.fixed-btn .btn.c3 {
  width: calc(100% / 3);
}

body article.search-forms {
  display: inline-block;
  width: 100%;
  padding: 20px 0 0;
}

body article.search-forms div.container div.radio-box {
  padding: 5px;
  font-size: 0;
  background: #e4e4e4;
  border-radius: 8px;
}

body article.search-forms div.container div.radio-box input[type="radio"] {
  display: none;
}

body article.search-forms div.container div.radio-box label {
  display: inline-block;
  font-size: 12px;
  width: 50%;
  text-align: center;
  padding: 12px 0;
}

body article.search-forms div.container div.radio-box label:first-of-type {
  border-radius: 6px 0 0 6px;
}

body article.search-forms div.container div.radio-box label:last-of-type {
  border-radius: 0 6px 6px 0;
}

body article.search-forms div.container div.radio-box input[type="radio"]:checked + label {
  border-radius: 6px;
  background: #ff7d26;
  color: #fff;
}

body article.search-forms div.container input#detail {
  display: none;
}

body article.search-forms div.container input#detail + div {
  height: 0;
  overflow: hidden;
  margin: 10px 0 0;
  border-bottom: 1px solid #ccc;
}

body article.search-forms div.container input#detail + div + label {
  display: block;
  background: #f4f4f4;
  text-align: center;
  padding: 6px 0;
  border-radius: 0 0 5px 5px;
  margin: 0 auto;
}

body article.search-forms div.container input#detail:checked + div {
  height: auto;
  padding: 20px;
  border: 5px solid #e4e4e4;
  border-radius: 8px 8px 0 0;
}

body article.search-forms div.container input#detail:checked + div div.input-box {
  padding-bottom: 10px;
  position: relative;
  font-size: 0;
}

body article.search-forms div.container input#detail:checked + div div.input-box i {
  position: absolute;
  width: 40px;
  line-height: 38px;
  text-align: center;
  right: 0;
  top: 0;
  font-size: 22px;
  background: #fff;
}

body article.search-forms div.container input#detail:checked + div div.input-box input {
  font-size: 12px;
  outline: none;
  height: 42px;
  width: 100%;
  padding: 0 10px;
  border: none;
  border-bottom: 2px solid #333;
}

body article.search-forms div.container input#detail:checked + div div.input-box label {
  vertical-align: top;
  display: inline-block;
  line-height: 40px;
  font-size: 12px;
  width: 100px;
  border-bottom: 2px solid #333;
  font-weight: 600;
}

body article.search-forms div.container input#detail:checked + div div.input-box label + input {
  display: inline-block;
  width: calc(100% - 100px);
}

body article.search-forms div.container input#detail:checked + div div.input-box.period {
  font-size: 0;
}

body article.search-forms div.container input#detail:checked + div div.input-box.period input {
  width: calc(50% - 20px);
}

body article.search-forms div.container input#detail:checked + div div.input-box.period span {
  display: inline-block;
  width: 40px;
  text-align: center;
  font-size: 12px;
}

body article.search-forms div.container input#detail:checked + div div.select-box {
  position: relative;
  padding-bottom: 10px;
  font-size: 0;
}

body article.search-forms div.container input#detail:checked + div div.select-box i {
  position: absolute;
  width: 40px;
  line-height: 38px;
  text-align: center;
  right: 0;
  top: 0;
  font-size: 22px;
  background: #fff;
}

body article.search-forms div.container input#detail:checked + div div.select-box select {
  outline: none;
  font-size: 12px;
  height: 42px;
  width: 100%;
  padding: 0 10px;
  border: none;
  border-bottom: 2px solid #333;
}

body article.search-forms div.container input#detail:checked + div div.select-box label {
  vertical-align: top;
  display: inline-block;
  line-height: 40px;
  font-size: 12px;
  width: 80px;
  border-bottom: 2px solid #333;
  font-weight: 600;
}

body article.search-forms div.container input#detail:checked + div div.select-box label + select {
  display: inline-block;
  width: calc(100% - 80px);
}

body .modal {
  display: none;
  position: fixed;
  z-index: 20000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
}

body .modal .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  border-radius: 10px;
  width: 90%;
  max-width: 900px;
  overflow: hidden;
}

body .modal .modal-content h2 {
  margin: 0;
  font-size: 18px;
  padding: 14px;
  border-bottom: 1px solid #ccc;
  background: #e4e4e4;
}

body .modal .modal-content div {
  padding: 20px;
  word-break: keep-all;
}

body .modal .modal-content div ol,
body .modal .modal-content div ul {
  font-size: 12px;
}

body .modal .modal-content button.modal-close {
  position: absolute;
  right: 8px;
  top: 14px;
  border: none;
  background: none;
  outline: none;
  font-size: 0;
}

body .modal .modal-content button.modal-close i {
  font-size: 24px;
}

body article.attention {
  display: inline-block;
  width: 100%;
  padding: 20px;
}

body article.attention div.container {
  padding: 12px;
  background: #EDF5F7;
  border-left: 5px solid #e00029;
}

body article.attention div.container p {
  margin: 0;
}

body article.attention div.container p button {
  border: none;
  background: none;
  font-size: 0;
  outline: none;
}

body article.attention div.container p button i {
  position: relative;
  top: 2px;
  font-size: 18px;
  color: #ff7d26;
}

body .container {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: left;
  vertical-align: top;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (min-width: 900px) {
  body .container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 900px;
    height: 100%;
  }
}

body.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-flex;
  -webkit-align-item: center;
  -webkit-justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: fixed;
  width: 100vw;
  height: 100vh;
  text-align: left;
}

body.login div#content article.login-form h1 {
  margin: 0 auto 40px;
  font-size: 0;
  width: 200px;
  height: 86px;
  background: url("../images/logo_kr.png") no-repeat center/100% auto;
}

body.login div#content article.login-form fieldset {
  padding: 0;
  margin: 0 auto;
  border: none;
  width: 90%;
  max-width: 440px;
  font-size: 0;
}

body.login div#content article.login-form fieldset label {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}

body.login div#content article.login-form fieldset label i {
  position: relative;
  top: 6px;
  font-size: 32px;
  color: #bbb;
}

body.login div#content article.login-form fieldset input[type="text"],
body.login div#content article.login-form fieldset input[type="password"] {
  width: calc(100% - 50px);
  font-size: 12px;
  height: 44px;
  border: none;
  border-bottom: 2px solid #aaa;
  margin-bottom: 20px;
}

body.login div#content article.login-form fieldset input[type="text"]:focus,
body.login div#content article.login-form fieldset input[type="password"]:focus {
  outline: none;
  border-color: #000;
}

body.login div#content article.login-form fieldset input[type="text"]::-webkit-input-placeholder,
body.login div#content article.login-form fieldset input[type="password"]::-webkit-input-placeholder {
  color: #bbb;
}

body.login div#content article.login-form fieldset input[type="text"]:-ms-input-placeholder,
body.login div#content article.login-form fieldset input[type="password"]:-ms-input-placeholder {
  color: #bbb;
}

body.login div#content article.login-form fieldset input[type="text"]::-ms-input-placeholder,
body.login div#content article.login-form fieldset input[type="password"]::-ms-input-placeholder {
  color: #bbb;
}

body.login div#content article.login-form fieldset input[type="text"]::placeholder,
body.login div#content article.login-form fieldset input[type="password"]::placeholder {
  color: #bbb;
}

body.login div#content article.login-form fieldset input[type="checkbox"] {
  display: none;
}

body.login div#content article.login-form fieldset input[type="checkbox"] + label {
  position: relative;
  font-size: 12px;
  width: auto;
  margin: 10px 0 40px;
  padding: 0 0 0 50px;
}

body.login div#content article.login-form fieldset input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 0 0 6px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #bbb;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

body.login div#content article.login-form fieldset input[type="checkbox"]:checked + label {
  color: #e00029;
}

body.login div#content article.login-form fieldset input[type="checkbox"]:checked + label::before {
  border-color: #e00029;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 6px;
  top: -4px;
  left: 6px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

body.login div#content article.login-form div.information {
  margin: 20px auto 0;
  width: 90%;
  max-width: 500px;
}

body.login div#content article.login-form div.information p {
  margin: 0;
}

body.login div#content article.login-form div.information p a {
  color: #ff7d26;
}

body.site {
  /* header */
}

body.site header {
  position: fixed;
  z-index: 800;
  top: 0;
  left: 0;
  background: #fff;
  right: 0;
  height: 62px;
  line-height: 62px;
  border-bottom: 1px solid #ccc;
}

body.site header button.toggle-menu {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0;
  display: inline-block;
  position: absolute;
  z-index: 1200;
  background: none;
  height: 20px;
  width: 20px;
  left: 20px;
  top: 25px;
  outline: none;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

body.site header button.toggle-menu u {
  display: block;
  position: absolute;
  left: 0;
  width: 20px;
  height: 2px;
  background: #333;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

body.site header button.toggle-menu u.top {
  top: 0px;
}

body.site header button.toggle-menu u.middle {
  top: 9px;
}

body.site header button.toggle-menu u.bottom {
  top: 18px;
}

body.site header button.toggle-menu.on u {
  top: 10px;
}

body.site header button.toggle-menu.on u.top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body.site header button.toggle-menu.on u.middle {
  opacity: 0;
}

body.site header button.toggle-menu.on u.bottom {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body.site header h1 {
  display: inline-block;
  margin: 0 0 0 40px;
  width: 100px;
  height: 43px;
  font-size: 0;
  background: url("../images/logo2_kr.png") no-repeat center/100% auto;
}

body.site article.sub_navi {
  position: fixed;
  z-index: 999;
  background: #efefef;
  border-bottom: 1px solid #ccc;
  left: 0;
  right: 0;
  top: 62px;
  line-height: 48px;
}

body.site article.sub_navi div.container {
  text-align: center;
}

body.site article.sub_navi div.container h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

body.site article.sub_navi div.container button {
  position: absolute;
  top: 0;
  bottom: 0;
  border: none;
  margin: 0;
  outline: none;
  font-size: 0;
  text-align: center;
  color: #999;
}

body.site article.sub_navi div.container button.back {
  left: 15px;
  border-right: 1px solid #ccc;
  padding: 0 6px 0 0;
}

body.site article.sub_navi div.container button.home {
  right: 15px;
  border-left: 1px solid #ccc;
  padding: 0 0 0 6px;
}

body.site article.sub_navi div.container button i {
  font-size: 28px;
  line-height: inherit;
}

body.site aside {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  overflow: hidden;
  text-align: left;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

body.site aside h2 {
  position: absolute;
  left: -250px;
  height: 108px;
  overflow: hidden;
  background: #ff7d26;
  margin: 0;
  text-align: center;
  width: 250px;
  padding: 30px 25px 25px;
  color: #fff;
  font-size: 22px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

body.site aside h2 small {
  display: block;
  font-size: 12px;
  font-weight: 400;
  padding: 4px 0 0;
}

body.site aside nav {
  position: absolute;
  left: -250px;
  top: 108px;
  bottom: 0;
  width: 250px;
  background: #fff;
}

body.site aside nav i {
  background: #ccc;
  width: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  margin: 0 20px 0 30px;
}

body.site aside nav i.lime {
  background: #cddc39;
}

body.site aside nav i.red {
  background: #F44336;
}

body.site aside nav i.orange {
  background: #ff9800;
}

body.site aside nav i.amber {
  background: #ffc107;
}

body.site aside nav i.blue {
  background: #2196F3;
}

body.site aside nav i.cyan {
  background: #00bcd4;
}

body.site aside nav i.purple {
  background: #9c27b0;
}

body.site aside nav > a {
  display: block;
  line-height: 45px;
  background: #eee;
}

body.site aside nav h3 {
  margin: 0;
  padding: 20px 10px 10px 30px;
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid #ddd;
}

body.site aside nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body.site aside nav ul li a {
  display: block;
  line-height: 45px;
  border-bottom: 1px solid #ddd;
}

body.site aside button.close {
  position: fixed;
  opacity: 0;
  left: 0;
  width: 0;
  border-radius: 0;
  top: 0;
  bottom: 0;
  font-size: 0;
  border: none;
  outline: none;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

body.site aside::before {
  content: "";
  display: none;
  position: fixed;
  opacity: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  top: 0;
  bottom: 0;
  font-size: 0;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

body.site aside.on {
  display: block;
}

body.site aside.on h2 {
  left: 0;
}

body.site aside.on nav {
  left: 0;
}

body.site aside.on button.close {
  left: 250px;
  width: calc(100% - 250px);
}

body.site aside.on::before {
  display: block;
  opacity: 1;
}

body.site div#content {
  margin-top: 110px;
}

body.site div#content h2.stitle {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}

body.site div#content h3.btitle {
  font-size: 12px;
  font-weight: 600;
  margin: 20px 0 14px;
}

body.site div#content section.main-header {
  background: #ff7d26;
}

body.site div#content section.main-header div.container {
  padding: 20px;
  color: #fff;
}

body.site div#content section.main-header div.container h2 {
  font-size: 22px;
  margin: 0;
  padding: 0;
}

body.site div#content section.main-header div.container h2 small {
  font-weight: 400;
  font-size: 12px;
}

body.site div#content section.main-header div.container ul {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
}

body.site div#content section.main-header div.container ul li {
  display: inline-block;
  font-size: 12px;
  margin-right: 4px;
}

body.site div#content section.main-header div.container ul li a {
  display: block;
  color: #fff;
  font-size: 22px;
  text-align: center;
  margin-bottom: 4px;
}

body.site div#content section.latest-order div.container > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body.site div#content section.latest-order div.container > ul input[type="radio"] {
  display: none;
}

body.site div#content section.latest-order div.container > ul label {
  display: block;
  position: relative;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  line-height: 42px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  color: #999;
}

body.site div#content section.latest-order div.container > ul label i.bx-chevron-right {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 20px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

body.site div#content section.latest-order div.container > ul input[type="radio"] + label + div {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  max-height: 0;
  padding: 0 20px;
}

body.site div#content section.latest-order div.container > ul input[type="radio"] + label + div ul {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}

body.site div#content section.latest-order div.container > ul input[type="radio"] + label + div ul li {
  font-size: 12px;
}

body.site div#content section.latest-order div.container > ul input[type="radio"] + label + div h3 {
  font-size: 26px;
  margin: 20px 0;
}

body.site div#content section.latest-order div.container > ul input[type="radio"] + label + div h3 small {
  font-size: 12px;
  display: block;
  margin-bottom: 26px;
  font-weight: 600;
}

body.site div#content section.latest-order div.container > ul input[type="radio"] + label + div p {
  margin: 0;
}

body.site div#content section.latest-order div.container > ul input[type="radio"] + label + div p.transport {
  font-weight: 600;
}

body.site div#content section.latest-order div.container > ul input[type="radio"] + label + div p.tag {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ccc;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  padding: 6px 10px;
  font-size: 12px;
}

body.site div#content section.latest-order div.container > ul input[type="radio"] + label + div p.tag.tag01 {
  background: #ff7d26;
}

body.site div#content section.latest-order div.container > ul input[type="radio"] + label + div p.tag.tag02 {
  background: cornflowerblue;
}

body.site div#content section.latest-order div.container > ul input[type="radio"] + label + div p.tag.tag03 {
  background: #888888;
}

body.site div#content section.latest-order div.container > ul input[type="radio"]:checked + label {
  border: none;
  color: #333;
}

body.site div#content section.latest-order div.container > ul input[type="radio"]:checked + label i.bx-chevron-right {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body.site div#content section.latest-order div.container > ul input[type="radio"]:checked + label + div {
  max-height: 1000px;
  background: #ffffcf;
  padding: 20px;
}

body.site div#content section.sales-data div.container ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

body.site div#content section.sales-data div.container ul li {
  border: 1px solid #ccc;
  margin-bottom: 16px;
  border-radius: 10px;
}

body.site div#content section.sales-data div.container ul li h3 {
  margin: 0;
  padding: 14px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}

body.site div#content section.sales-data div.container ul li h4 {
  margin: 0;
  padding: 10px 14px;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  font-weight: 400;
  background: #888;
  color: #fff;
}

body.site div#content section.sales-data div.container ul li h4.active {
  background: #555;
}

body.site div#content section.sales-data div.container ul li div.data {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body.site div#content section.sales-data div.container ul li div.data.active {
  max-height: 1000px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body.site div#content section.sales-data div.container ul li dl {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  width: 100%;
  font-size: 0;
  text-align: center;
  vertical-align: top;
}

body.site div#content section.sales-data div.container ul li dl.td3 dt,
body.site div#content section.sales-data div.container ul li dl.td3 dd {
  width: calc(100% / 3);
}

body.site div#content section.sales-data div.container ul li dl.td3 dt:nth-of-type(1) {
  left: 0;
}

body.site div#content section.sales-data div.container ul li dl.td3 dt:nth-of-type(2) {
  left: calc(100% / 3);
}

body.site div#content section.sales-data div.container ul li dl.td3 dt:nth-of-type(3) {
  left: calc((100% / 3) * 2);
}

body.site div#content section.sales-data div.container ul li dl.td4 dt,
body.site div#content section.sales-data div.container ul li dl.td4 dd {
  width: calc(100% / 4);
}

body.site div#content section.sales-data div.container ul li dl.td4 dt:nth-of-type(1) {
  left: 0;
}

body.site div#content section.sales-data div.container ul li dl.td4 dt:nth-of-type(2) {
  left: calc(100% / 4);
}

body.site div#content section.sales-data div.container ul li dl.td4 dt:nth-of-type(3) {
  left: calc((100% / 4) * 2);
}

body.site div#content section.sales-data div.container ul li dl.td4 dt:nth-of-type(4) {
  left: calc((100% / 4) * 3);
}

body.site div#content section.sales-data div.container ul li dl.td5 dt,
body.site div#content section.sales-data div.container ul li dl.td5 dd {
  width: calc(100% / 5);
}

body.site div#content section.sales-data div.container ul li dl.td5 dt:nth-of-type(1) {
  left: 0;
}

body.site div#content section.sales-data div.container ul li dl.td5 dt:nth-of-type(2) {
  left: calc(100% / 5);
}

body.site div#content section.sales-data div.container ul li dl.td5 dt:nth-of-type(3) {
  left: calc((100% / 5) * 2);
}

body.site div#content section.sales-data div.container ul li dl.td5 dt:nth-of-type(4) {
  left: calc((100% / 5) * 3);
}

body.site div#content section.sales-data div.container ul li dl.td5 dt:nth-of-type(5) {
  left: calc((100% / 5) * 4);
}

body.site div#content section.sales-data div.container ul li dl.td6 dt,
body.site div#content section.sales-data div.container ul li dl.td6 dd {
  width: calc(100% / 6);
}

body.site div#content section.sales-data div.container ul li dl.td6 dt:nth-of-type(1) {
  left: 0;
}

body.site div#content section.sales-data div.container ul li dl.td6 dt:nth-of-type(2) {
  left: calc(100% / 6);
}

body.site div#content section.sales-data div.container ul li dl.td6 dt:nth-of-type(3) {
  left: calc((100% / 6) * 2);
}

body.site div#content section.sales-data div.container ul li dl.td6 dt:nth-of-type(4) {
  left: calc((100% / 6) * 3);
}

body.site div#content section.sales-data div.container ul li dl.td6 dt:nth-of-type(5) {
  left: calc((100% / 6) * 4);
}

body.site div#content section.sales-data div.container ul li dl.td6 dt:nth-of-type(6) {
  left: calc((100% / 6) * 5);
}

body.site div#content section.sales-data div.container ul li dl dt {
  font-size: 12px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: #e4e4e4;
  line-height: 42px;
  border-right: 1px solid #aaa;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body.site div#content section.sales-data div.container ul li dl dt:last-of-type {
  border: none;
}

body.site div#content section.sales-data div.container ul li dl dd {
  margin: 42px 0 0;
  position: relative;
  display: inline-block;
  font-size: 12px;
  border-right: 1px solid #ccc;
  min-height: 54px;
  padding: 10px 0;
  vertical-align: top;
}

body.site div#content section.sales-data div.container ul li dl dd:last-of-type {
  border: none;
}

body.site div#content section.sales-data div.container ul li dl dd.status {
  font-weight: 800;
}

body.site div#content section.sales-data div.container ul li dl dd.status.up {
  color: #F44336;
}

body.site div#content section.sales-data div.container ul li dl dd.status.down {
  color: #2196F3;
}

body.site div#content section.sales-data div.container ul li p.limit {
  margin: 0;
  padding: 10px 20px;
  border-top: 1px solid #ccc;
  background: #f4f4f4;
}

body.site div#content section.sell-data div.container ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

body.site div#content section.sell-data div.container ul li {
  border: 1px solid #ccc;
  margin-bottom: 14px;
  border-radius: 10px;
}

body.site div#content section.sell-data div.container ul li h3 {
  margin: 0;
  padding: 14px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}

body.site div#content section.sell-data div.container ul li table {
  width: 100%;
}

body.site div#content section.sell-data div.container ul li table tr th {
  background: #555;
  color: #fff;
  font-weight: normal;
}

body.site div#content section.sell-data div.container ul li table tr th,
body.site div#content section.sell-data div.container ul li table tr td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  width: 30%;
  padding: 5px 0;
}

body.site div#content section.sell-data div.container ul li table tr th:first-of-type,
body.site div#content section.sell-data div.container ul li table tr td:first-of-type {
  width: 10%;
}

body.site div#content section.sell-data div.container ul li table tr th:last-of-type,
body.site div#content section.sell-data div.container ul li table tr td:last-of-type {
  border-right: none;
}

body.site div#content section.sell-data div.container ul li table tr th span,
body.site div#content section.sell-data div.container ul li table tr td span {
  display: block;
  font-size: 12px;
  color: #2196F3;
}

body.site div#content section.sell-data div.container ul li table tr:last-of-type td {
  border-bottom: none;
}

body.site div#content section.order-form div.container div.input-box {
  padding-bottom: 10px;
  position: relative;
  font-size: 0;
}

body.site div#content section.order-form div.container div.input-box i {
  position: absolute;
  width: 40px;
  line-height: 38px;
  text-align: center;
  right: 0;
  top: 0;
  font-size: 22px;
  background: #fff;
}

body.site div#content section.order-form div.container div.input-box input {
  font-size: 12px;
  outline: none;
  height: 42px;
  width: 100%;
  padding: 0 10px;
  border: none;
  border-bottom: 2px solid #333;
}

body.site div#content section.order-form div.container div.input-box label {
  vertical-align: top;
  display: inline-block;
  line-height: 40px;
  font-size: 12px;
  width: 100px;
  border-bottom: 2px solid #333;
  font-weight: 600;
}

body.site div#content section.order-form div.container div.input-box label + input {
  display: inline-block;
  width: calc(100% - 100px);
}

body.site div#content section.order-form div.container div.input-box.period {
  font-size: 0;
}

body.site div#content section.order-form div.container div.input-box.period input {
  width: calc(50% - 20px);
}

body.site div#content section.order-form div.container div.input-box.period span {
  display: inline-block;
  width: 40px;
  text-align: center;
  font-size: 12px;
}

body.site div#content section.order-form div.container div.select-box {
  position: relative;
  padding-bottom: 10px;
  font-size: 0;
}

body.site div#content section.order-form div.container div.select-box i {
  position: absolute;
  width: 40px;
  line-height: 38px;
  text-align: center;
  right: 0;
  top: 0;
  font-size: 22px;
  background: #fff;
}

body.site div#content section.order-form div.container div.select-box select {
  outline: none;
  font-size: 12px;
  height: 42px;
  width: 100%;
  padding: 0 10px;
  border: none;
  border-bottom: 2px solid #333;
}

body.site div#content section.order-form div.container div.select-box label {
  vertical-align: top;
  display: inline-block;
  line-height: 40px;
  font-size: 12px;
  width: 80px;
  border-bottom: 2px solid #333;
  font-weight: 600;
}

body.site div#content section.order-form div.container div.select-box label + select {
  display: inline-block;
  width: calc(100% - 80px);
}

body.site div#content section.order-form div.container ul.order-list {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 0 30px;
  padding: 0;
}

body.site div#content section.order-form div.container ul.order-list li {
  position: relative;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

body.site div#content section.order-form div.container ul.order-list li:last-child {
  border: none;
}

body.site div#content section.order-form div.container ul.order-list li h3 {
  margin: 0;
  font-size: 12px;
}

body.site div#content section.order-form div.container ul.order-list li p {
  font-size: 12px;
  color: #777;
  margin: 4px 0 0;
}

body.site div#content section.order-form div.container ul.order-list li p i {
  font-size: 18px;
  position: relative;
  top: 2px;
}

body.site div#content section.order-form div.container ul.order-list li button.delete {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 0;
  border: none;
  background: none;
}

body.site div#content section.order-form div.container ul.order-list li button.delete i {
  font-size: 22px;
}

body.site div#content section.board-form div.container {
  padding-top: 20px;
}

body.site div#content section.board-form div.container div.input-box {
  padding-bottom: 10px;
  position: relative;
}

body.site div#content section.board-form div.container div.input-box input[type="text"],
body.site div#content section.board-form div.container div.input-box input[type="date"] {
  font-size: 12px;
  outline: none;
  height: 42px;
  width: 100%;
  padding: 0 10px;
  border: none;
  border-bottom: 2px solid #333;
}

body.site div#content section.board-form div.container div.text-box textarea {
  min-height: 200px;
  width: 100%;
  border: none;
  background: #e4e4e4;
  padding: 20px;
}

body.site div#content section.board-form div.container div.file-box textarea {
  min-height: 200px;
  width: 100%;
  border: none;
  background: #e4e4e4;
  padding: 20px;
}

body.site div#content section.notice-list div.container > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body.site div#content section.notice-list div.container > ul > li {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  color: #999;
}

body.site div#content section.notice-list div.container > ul > li ul {
  line-height: 1.4;
  list-style: none;
  margin: 6px 0 0;
  padding: 0;
}

body.site div#content section.notice-list div.container > ul > li ul li {
  display: inline-block;
  font-size: 13px;
  margin-right: 6px;
}

body.site div#content section.notice-list div.container > ul > li ul li i {
  position: relative;
  top: 1px;
  margin-right: 4px;
  font-size: 12px;
}

body.site div#content section.notice-list.sub div.container {
  margin: 20px 0;
}

body.site div#content section.notice-list.sub div.container > ul {
  border-top: 2px solid #333;
}

body.site div#content section.notice-view div.container h2.title {
  margin: 30px 0 0;
  font-size: 18px;
}

body.site div#content section.notice-view div.container h2.title small {
  display: block;
  margin: 0 0 4px;
  font-size: 12px;
  font-weight: 400;
}

body.site div#content section.notice-view div.container h2.title small.tag01 {
  color: #F44336;
}

body.site div#content section.notice-view div.container h2.title small.tag02 {
  color: #2196F3;
}

body.site div#content section.notice-view div.container ul.information {
  line-height: 1.4;
  list-style: none;
  margin: 6px 0 0;
  padding: 0;
}

body.site div#content section.notice-view div.container ul.information li {
  display: inline-block;
  font-size: 13px;
  margin-right: 6px;
}

body.site div#content section.notice-view div.container ul.information li i {
  position: relative;
  top: 1px;
  margin-right: 4px;
  font-size: 12px;
}

body.site div#content section.notice-view div.container div.detail {
  padding: 20px 0;
  word-break: keep-all;
}

body.site div#content section.notice-view div.container ul.file {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}

body.site div#content section.notice-view div.container ul.file li {
  display: inline-block;
}

body.site div#content section.notice-view div.container ul.file li a {
  display: block;
  background: #e4e4e4;
  padding: 4px 10px;
  border-radius: 5px;
  color: #2196F3;
}

body.site div#content section.notice-reply {
  margin: 30px 0 20;
  padding: 0 0 20px;
}

body.site div#content section.notice-reply div.container ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

body.site div#content section.notice-reply div.container ul li {
  position: relative;
  background: #EDF5F7;
  padding: 14px 30px 14px 14px;
  border-left: 5px solid #F44336;
  margin-bottom: 6px;
}

body.site div#content section.notice-reply div.container ul li button.modify {
  border: none;
  background: none;
  color: #F44336;
  font-size: 0;
}

body.site div#content section.notice-reply div.container ul li button.modify i {
  font-size: 20px;
  position: relative;
  top: 3px;
  margin: 0 4px 0 0;
}

body.site div#content section.notice-reply div.container ul li button.delete {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 20px;
  height: 20px;
  font-size: 0;
  padding: 0;
  border: none;
  background: #333;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

body.site div#content section.notice-reply div.container ul li button.delete i {
  font-size: 18px;
}

body.site div#content section.notice-reply div.container div.write {
  font-size: 0;
  margin: 20px 0 30px;
}

body.site div#content section.notice-reply div.container div.write textarea {
  font-size: 12px;
  width: calc(100% - 60px);
  min-height: 70px;
  border: none;
  background: #e4e4e4;
  padding: 10px;
  vertical-align: top;
}

body.site div#content section.notice-reply div.container div.write .btn {
  width: 60px;
  border-radius: 0;
  line-height: 70px;
  vertical-align: top;
  margin: 0;
}

body.site footer#footer {
  background: #f7f7f7;
  padding: 20px 0;
  margin: 20px 0 0;
}

body.site footer#footer .container {
  text-align: center;
}

body.site footer#footer .container h2 {
  margin: 20px auto;
  font-size: 0;
  width: 100px;
  height: 43px;
  background: url("../images/logo_foot_kr.png") no-repeat center/100% auto;
}

body.site footer#footer .container p.text {
  color: #555;
  border-bottom: 1px solid #e4e4e4;
  padding: 0 0 10px;
}

body.site footer#footer .container p.copyright {
  color: #777;
  font-size: 13px;
}

body.site div#content.fixed + footer#footer {
  padding-bottom: 100px;
}

body.main div#content {
  margin-top: 62px;
}
/*# sourceMappingURL=style.css.map */